body {
	min-width: 550px;
}
a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
label,
.label {
	display: inline-block;
	text-transform: uppercase;
	color: #4B4136;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0.05em;
	margin-bottom: 5px;
}

.header{
	text-align: center;
	.container {
		max-width: 940px;
		padding: 65px 0 70px;
		position: relative;
	}
}

.lang {
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 13px;
	li {
		list-style: none;
		float: left;
		padding: 0 10px;
		border-left: 1px solid #ddd;
		&:first-child {
			border-left: 0;
		}
	}
}

.main-title {
	margin-bottom: 35px;
}
.main-title__top {
	text-transform: uppercase;
	font-size: 19px;
	letter-spacing: 0.16em;
	margin:0 0 1px;
}
.main-title__text{
	font-size: 56px;
	margin: 0;
}
.main-title__date {
	font-size: 52px;
	margin: 6px 0 0;
	span{
		position: relative;
		display: inline-block;
		padding: 0 20px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			width: 180px;
			height: 1px;
			background: #D8D8D8;
			margin-top: 2px;
		}
		&:before {
			left: 100%;
		}
		&:after {
			right: 100%;
		}
	}
}

.nav {
	a {
		margin: 0 20px;
		white-space: nowrap;
	}
}

.main{
	padding: 10px 0;
	margin: 0 auto;
	max-width: 940px;
}

.main_vote {
	background: #F0EEEA;
	padding: 70px 0;
	max-width: initial;
	margin: 0;
}

.footer {
	padding: 60px 0;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
	p {
		margin: 0;
	}
}
.stfalcon {
	font-family: Arial, Verdana, sans-serif;
	color: #2C373C;
	text-decoration: none;
	margin-left: 3px;
	&:hover {
		text-decoration: underline;
	}
}

.btn-vk,
.btn-fb {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	&:hover {
		color: #fff;
	}
}
.btn-vk {
	background: #5A81AD;
	border-color: #4073ad;
	&:hover {
		background: #5077a3;
	}
}
.btn-fb {
	background: #3B5997;
	border-color: #244a96;
	&:hover {
		background: #324f8a;
	}
}