body {
	min-width: 475px;
}
a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
label,
.label {
	display: inline-block;
	text-transform: uppercase;
	color: #4B4136;
	font-weight: normal;
	font-size: 13px;
	letter-spacing: 0.05em;
	margin-bottom: 5px;
}
.center {
	text-align: center;
}
.inner {
	margin: 0 auto;
	max-width: 960px;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.header{
	text-align: center;
	.inner {
		max-width: 940px;
		padding: 45px 20px 32px;
		position: relative;
	}
}

.lang {
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 13px;
	li {
		list-style: none;
		float: left;
		padding: 0 10px;
		border-left: 1px solid #ddd;
		&:first-child {
			border-left: 0;
		}
	}
}

.main-title {
	margin-bottom: 35px;
	font-size: 56px;
	margin: 0 0 23px;
	span {
		display: block;
		text-transform: uppercase;
		font-size: 19px;
		letter-spacing: 0.16em;
		margin:0 0 1px;
	}
}

.nav {
	a {
		margin: 0 20px;
		white-space: nowrap;
	}
}

.main{
	padding: 20px 0 10px;
	margin: 0 auto;
	max-width: 940px;
}

.footer {
	padding: 60px 20px 60px;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
	p {
		margin: 0;
	}
}
.footer_vote {
	padding-bottom: 120px;
}
.stfalcon {
	font-family: Arial, Verdana, sans-serif;
	color: #2C373C;
	text-decoration: none;
	margin-left: 3px;
	&:hover {
		text-decoration: underline;
	}
}
.ico-stfalcon{
	display: inline-block;
	width: 20px;
	height: 19px;
	margin-right: 2px;
	background: url(../img/ico-stfalcon.png);
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}

.btn-vk,
.btn-fb {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	&:hover {
		color: #fff;
	}
}
.btn-vk {
	background: #5A81AD;
	border-color: #4073ad;
	&:hover {
		background: #5077a3;
	}
}
.btn-fb {
	background: #3B5997;
	border-color: #244a96;
	&:hover {
		background: #324f8a;
	}
}
.photo-big {
	border-radius: 10px;
	max-width: 140px;
}