a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.header{
	padding: 65px 0 50px;
	text-align: center;
}

.main-title {
	margin-bottom: 35px;
}
.main-title__top {
	text-transform: uppercase;
	font-size: 19px;
	letter-spacing: 0.16em;
	margin:0 0 1px;
}
.main-title__text{
	font-size: 56px;
	margin: 0;
}
.main-title__date {
	font-size: 52px;
	margin: 6px 0 0;
	span{
		position: relative;
		display: inline-block;
		padding: 0 20px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			width: 180px;
			height: 1px;
			background: #D8D8D8;
			margin-top: 2px;
		}
		&:before {
			left: 100%;
		}
		&:after {
			right: 100%;
		}
	}
}

.main{
	background: #F0EEEA;
	padding: 70px 0;
}

.nav {
	a {
		margin: 0 20px;
	}
}

.footer {
	padding: 60px 0;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
	p {
		margin: 0;
	}
}
.stfalcon {
	font-family: Arial, Verdana, sans-serif;
	color: #2C373C;
	text-decoration: none;
	margin-left: 3px;
	&:hover {
		text-decoration: underline;
	}
}
.ico-stfalcon{
	display: inline-block;
	width: 20px;
	height: 19px;
	margin-right: 2px;
	background: url(../img/ico-stfalcon.png);
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}

label {
	text-transform: uppercase;
	color: #4B4136;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
}